<table class="table-striped detail-table">
  <tr>
    <td>
      Title
    </td>
    <td>
      {{details.title}}
    </td>
  </tr>
  <tr>
    <td>
      Director
    </td>
    <td>
      {{details.director}}
    </td>
  </tr>
  <tr>
    <td>
      Producer
    </td>
    <td>
      {{details.producer}}
    </td>
  </tr>
  <tr>
    <td>
      Release Date
    </td>
    <td>
      {{details.release_date}}
    </td>
  </tr>
  <tr>
    <td>
      Description
    </td>
    <td>
      {{details.opening_crawl}}
    </td>
  </tr>
</table>
