<div class="d-inline-block">
  <table class="table-striped">
    <thead>
      <tr>
        <th (click)="changeSorting('name')">Name</th>
        <th (click)="changeSorting('model')">Model</th>
        <th (click)="changeSorting('manufacturer')">Manufacturer</th>
        <th (click)="changeSorting('starship_class')">Starship Class</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rec of (list | sort: sortCriteria)">
        <td>{{rec.name}}</td>
        <td>{{rec.model}}</td>
        <td>{{rec.manufacturer}}</td>
        <td>{{rec.starship_class}}</td>
      </tr>
    </tbody>
  </table>
  <a href="javascript:void(0)" *ngIf="previousLink" (click)="previous($event)" class="float-left">Previous 10</a>
  <a href="javascript:void(0)" *ngIf="nextLink" (click)="next($event)" class="float-right">Next 10</a>
</div>
